bitsandbytes==0.39.1
datasets==4.1.1
langchain==1.0.7
langchain_community==0.4.1
langchain_core==1.0.5
matplotlib==3.10.7
nltk==3.9.2
numpy==2.3.5
pandas==2.3.3
peft==0.18.0rc1.dev0
psutil==7.1.0
pyroaring==1.0.3
ragas==0.3.7
rapidfuzz==3.14.3
rdflib==7.4.0
seaborn==0.13.2
sentence_transformers==5.1.1
spacy==3.8.7
torch==2.9.0
tqdm==4.67.1
transformers==4.56.2
